.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
a.out
src/vector_test.c
src/inputtest.c
src/parse_test.c
a
.VSCodeCounter/2025-06-24_14-20-20/details.md
.VSCodeCounter/2025-06-24_14-20-20/diff-details.md
.VSCodeCounter/2025-06-24_14-20-20/diff.csv
.VSCodeCounter/2025-06-24_14-20-20/diff.md
.VSCodeCounter/2025-06-24_14-20-20/diff.txt
.VSCodeCounter/2025-06-24_14-20-20/results.csv
.VSCodeCounter/2025-06-24_14-20-20/results.json
.VSCodeCounter/2025-06-24_14-20-20/results.md
.VSCodeCounter/2025-06-24_14-20-20/results.txt
<
.gitignore
|
>>
grep
.gitignore
lol
S